<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CPS</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="layout/scripts/jquery.min.js"></script>
<!-- FancyBox -->
<link rel="stylesheet" href="layout/scripts/fancybox-2.1.5/jquery.fancybox.css" type="text/css" />
<script type="text/javascript" src="layout/scripts/fancybox-2.1.5/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("a.fb_image").fancybox({
        openEffect: 'elastic',
        closeEffect: 'elastic',
        openSpeed: 600,
        closeSpeed: 600,
        helpers: {
            overlay: {
                closeClick: true,
            },
            title: {
                type: 'over'
            }
        }
    });
});
</script>
<!-- End FancyBox -->
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header">
    <div class="fl_left">
      <h1><a href="index.html">GROUP 4</a></h1>
      <p>Haii :)</p>
    </div>
    <div id="topnav">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#profil">Profil</a></li>
        <li><a href="#galeri">Gallery</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>

<!-- PROFIL -->
<section class="profil" id="profil">
  <div class="wrapper col2">
    <div class="container">
      <div class="homecontent">
        <ul>
          <li>
            <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Sergio</h2>
            <p>Lalalala</p>
          </li>
          <li>
            <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Fatima Azzahra</h2>
            <p class="paragraph">Hometown : Makassar</p>
            <p class="paragraph">Date of Birth : 09 March 2001</p>
            <p class="paragraph">Hobby : Reading novels</p>
          </li>
          <li>
            <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Zuhairi</h2>
            <p>lalalallala</p>
          </li>
          <li class="last">
            <h2 class="title"><img src="images/demo/60x60.gif" alt="" />Grace Deborah</h2>
            <p>dbjdbcjdbcjs</p>
          </li>
        </ul>
      <br class="clear" />
      </div>
    </div>
  </div>
</section>

<!-- GALERI -->
<section class="galeri" id="galeri">
<div class="gallery">
      <ul>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li class="last">
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/gambar1.jpg" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/gambar2.jpg" alt="" /></a>
        </li>
        <li class="last">
          <a class="fb_image"><img src="images/demo/gallery/gambar3.jpg" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li class="last">
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li>
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
        <li class="last">
          <a class="fb_image"><img src="images/demo/gallery/284x224.gif" alt="" /></a>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>
</section>

<!-- ABOUT -->
<section class="about" id="about">
  <div class="wrapper col5">
    <div id="footer">
      <h2 class="title">About</h2>
      <p class="fl_center">INI ADALAH KITA</p>
      <br class="clear" />
    </div>
  </div>
</section>
</body>
</html>